:root {
  --pd-05: 12px;
  --pd-1: 16px;
  --pd-2: 24px;
  --pd-3: 32px;
  --font-g: 32px;
  --font-m: 20px;
  --font-sm: 16px;
  --dark-green: #273a2d;
  --soft-green: #6f7357;
  --cream: #c8ad8d;
  --pink: #e4c5c4;
  --light-white: #ebe6ea;
  --fnt-black: "Roboto-Black.ttf";
  --fnt-italic: "Roboto-Italic.ttf";
  --fnt-bold: "Roboto-Bold.ttf";
  --fnt-regular: "Roboto-Regular.ttf";

  font-family: "Roboto-Regular.ttf", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto-Black.ttf";
  src: url("font/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic.ttf";
  src: url("font/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold.ttf";
  src: url("font/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular.ttf";
  src: url("font/Roboto-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-block: var(--pd-2);
  min-width: 320px;
  min-height: 92vh;
  background: rgb(111, 115, 87);
  background: radial-gradient(
    circle,
    rgba(111, 115, 87, 1) 7%,
    rgba(75, 87, 66, 1) 59%,
    rgba(57, 73, 56, 1) 81%,
    rgba(39, 58, 45, 0.9780287114845938) 100%
  );
}

.background {
  background: #ffffff1c;
  height: min-content;
  padding: var(--pd-2);
}

h1 {
  text-wrap: balance;
}
