.card {
    text-align: center;
    margin-block: var(--pd-05);
    border-radius: var(--pd-2);
    background-color: var(--cream);
  }
  
  .card__skeleton {
    background-image: linear-gradient(
          90deg,
          #c8ad8de0 0px,
          rgb(229 229 229 / 90%) 40px,
          #c8ad8de0 80px
      );
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
  }
  
  .card__title {
    height: calc(var(--font-sm) * var(--line-height));
    margin-bottom: 15px;
  }
  
  .card__description {
    height: 48px;
  }
  
  @keyframes shimmer {
    to {
      background-position: -100% 0;
    }
  }